*, *:before, *:after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{

background-color: rgb(26, 24, 24);
}




.container{
    width: 400px;
    height: 500px;
    
    position:absolute;
    transform: translate(-50% ,-50%);
    left:50%;
    top:50%;
}

.container .round{
    height:180px;
    width:180px;
    position: absolute;
    background: linear-gradient(rgb(58, 17, 240),#f81909);
    border-radius: 50%;
    left: -80px;
    top: -70px;




}



form{
    height:500px;
    width: 400px;
    background-color:rgb(255, 255, 255,0.08) ;
    position: absolute;
    transform:translate(-50%,-50%);
    left:50%;
    border-radius: 30px;
    top: 50%;
    padding:50px;
    backdrop-filter: blur(10px);
    border:2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8, 7 ,16,0.6);



}

form *{
    color: white;
    outline: none;
    border: none;
    
}

form h3{
    font-size: 32px;

    font-weight: 500;
    text-align: center;
    line-height: 42px;

}

form h3 span{

    display: block;
    font-size: 16px;
    font-weight: 300px;

}


label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500px;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255,0.08);
    border-radius: 20px;
    padding: 0 10px;
    margin-top: 8px;


}

button{
    margin-top: 50px;
    width: 100%;
    background-color: white;
    color: black;
    height: 50px;
    border-radius: 25px;

}

button:hover{
    background: linear-gradient(rgb(58, 17, 240),#f81909);
}